<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card bg-secondary text-white" style="width: 18rem;">
        <img src="<%= product["image_url"] %>" class="card-img-top" alt="<%= product["name"] %>">
        <div class="card-body">
          <a class="index_link" href="/client/products/<%= product['id'] %>"><h5 class="card-title text-center"><%= product["name"] %></h5></a>
          <p class="card-text text-center"><%= product["description"] %></p>
          <p class="card-text text-center">Price: <%= product["formatted"]["price"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


