<div class="card mb-3">
  <img src="<%= @product["image_url"] %>" class="card-img-top" alt="<%= @product["name"] %>">
  <div class="card-body">
    <h1 class="card-title"><%= @product["name"] %></h1>
    <p class="card-text"><%= @product["description"] %></p>
    <h3>Price: <%= @product["formatted"]["price"] %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <a href="/client/products/<%= @product['id'] %>/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit Product</a>
    <a href="/client/products/<%= @product['id'] %>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete Product</a> 
  </div>

