<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/client/products">Home</a>
    <a href="/client/products/new">Create New Product</a>
    <%= yield %>
  </body>
</html>
